* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
/* header */
.header {
  display: flex;
  max-width: 1140px;
  height: 90px;
  margin: 20px auto 5px;
  align-items: center;
}
.header .logo {
  height: 100%;
  width: 260px;
}
.header .box_hd {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header .box_hd i {
  color: #019c41;
  font-size: 3rem;
  margin-right: 10px;
}
.header .box_hd:nth-child(even) i {
  color: #fff;
  background: #019c41;
  padding: 10px;
  border-radius: 999px;
  font-size: 2rem;
}
.header .box_tt {
}
.header .box_tt p {
  line-height: 1.3;
}
.header .box_tt .tt {
  font-weight: 600;
}
.header .box_tt .desc {
  font-size: 1.4rem;
}
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #019c41;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 110;
}
.bar {
  opacity: 0;
  visibility: hidden;
  display: none;
}
/* menu-mb */
.menu-mb {
  position: absolute;
  width: 70%;
  height: 100%;
  background: #fff;
  z-index: 999;
  border: 1px solid #aaa;
  position: fixed;
  left: 0;
  top: 0;
}
.menu-mb a {
  text-decoration: none;
  color: black;
}
.menu-mb li {
  padding: 10px 20px;
  border-bottom: 0.5px solid #aaa;
}
.menu-mb > li .xuong1,
.menu-mb > li .xuong2 {
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
}
.sub-menu-mb1 li:last-child,
.sub-menu-mb2 li:last-child {
  border-bottom: none;
}
.menu-mb .sub-menu-mb1,
.menu-mb .sub-menu-mb2 {
  padding-top: 10px;
  display: none;
}
.menu-mb .thoat {
  position: absolute;
  left: 90%;
  top: 1%;
  background: #07d15f;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
  cursor: pointer;
}

.menu-mb {
  display: none;
}
.menu {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  flex-wrap: wrap;
}
.menu > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  padding: 14px;
}
.menu > li {
  position: relative;
}
.menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.sub-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s, visibility 0.4s;
}
.sub-menu {
  position: absolute;
  background: #006c2e;
  margin-top: 16px;
  width: 220px;
  left: -16px;
}
.sub-menu li:hover {
  background-color: #019c41;
  transition: background-color 0.6s;
}
.sub-menu a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  width: 100%;
  border: 1px solid #ccc;
}
.button-action .btn-link {
  text-decoration: none;
  margin-left: 12px;
  border-radius: 12px;
  background-color: #006c2e;
  padding: 14px;
  color: #fdfdfd;
  position: relative;
}
.button-action .btn-link span {
  z-index: 2;
  position: relative;
}
.button-action .btn-link::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #013a1a;
  transition: width 0.6s ease-in-out;
  border-radius: 12px;
}
.button-action .btn-link:hover::after {
  left: 0;
  width: 100%;
}
.menu li:first-child:hover a {
  opacity: 0.9;
}
/* Form */
.home::before {
  content: "";
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.login_form {
  z-index: 110;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active {
  background: #fff;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 2.2rem;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 2.2rem;
  text-align: center;
  color: black;
  font-weight: 500;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  z-index: 10;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #333;
  transition: all 0.2 ease;
  padding: 0 30px;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #006c2e;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input_box i.email,
.input_box i.password {
  left: 0;
  color: #707070;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #006c2e;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 1.8rem;
  cursor: pointer;
}
.option_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}
.form_container a {
  color: #006c2e;
  font-size: 1.2rem;
  text-decoration: none;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  white-space: nowrap;
  font-size: 1.2rem;
  column-gap: 8px;
}
.checkbox label {
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
}
.form_container .button {
  background: #006c2e;
  margin-top: 30px;
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.form {
  background: #fff;
}
/* slideshow */
.slideshow-container {
  max-width: 100%;
  position: relative;
  z-index: -1;
  margin-top: 2px;
}
.mySlides {
  display: none;
}
.mySlides img {
  height: 550px;
  width: 100%;
}
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* Dvu */
.dv {
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 250px;
  margin-top: 55px;
}
.dv h2 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  z-index: -1;
}
.dv h2::after {
  position: absolute;
  content: "";
  width: 32px;
  background-color: #006c2e;
  border-radius: 999px;
  height: 4px;
  left: 0;
  top: 30px;
}
.dv .btn-dv a {
  background: #006c2e;
  padding: 8px 28px;
  border: 2px solid #00742c;
  border-radius: 3px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.5 ease-in-out;
  text-decoration: none;
}
.dv .btn-dv:hover,
.dv .btn-dv:hover a {
  translate: 0 -1px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  background: #019c41;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}
/* header */
.header {
  display: flex;
  max-width: 1140px;
  height: 90px;
  margin: 20px auto 5px;
  align-items: center;
}
.header .logo {
  height: 100%;
  width: 260px;
}
.header .box_hd {
  display: flex;
  align-items: center;
  margin-left: 30px;
}
.header .box_hd i {
  color: #019c41;
  font-size: 3rem;
  margin-right: 10px;
}
.header .box_hd:nth-child(even) i {
  color: #fff;
  background: #019c41;
  padding: 10px;
  border-radius: 999px;
  font-size: 2rem;
}
.header .box_tt {
}
.header .box_tt p {
  line-height: 1.3;
}
.header .box_tt .tt {
  font-weight: 600;
}
.header .box_tt .desc {
  font-size: 1.4rem;
}
/* nav */
.nav {
  display: flex;
  justify-content: space-between;
  background-color: #019c41;
  height: 50px;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 110;
}
.bar {
  opacity: 0;
  visibility: hidden;
  display: none;
}
/* menu-mb */
.menu-mb {
  position: absolute;
  width: 70%;
  height: 100%;
  background: #fff;
  z-index: 999;
  border: 1px solid #aaa;
  position: fixed;
  left: 0;
  top: 0;
}
.menu-mb a {
  text-decoration: none;
  color: black;
}
.menu-mb li {
  padding: 10px 20px;
  border-bottom: 0.5px solid #aaa;
}
.menu-mb > li .xuong1,
.menu-mb > li .xuong2 {
  font-size: 1.2rem;
  cursor: pointer;
  display: inline-block;
}
.sub-menu-mb1 li:last-child,
.sub-menu-mb2 li:last-child {
  border-bottom: none;
}
.menu-mb .sub-menu-mb1,
.menu-mb .sub-menu-mb2 {
  padding-top: 10px;
  display: none;
}
.menu-mb .thoat {
  position: absolute;
  left: 90%;
  top: 1%;
  background: #07d15f;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  padding-top: 5px;
  color: #fff;
  cursor: pointer;
}

.menu-mb {
  display: none;
}
.menu {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  flex-wrap: wrap;
}
.menu > li > a {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  color: #fff;
  padding: 14px;
}
.menu > li {
  position: relative;
}
.menu > li:hover .sub-menu {
  opacity: 1;
  visibility: visible;
}
.sub-menu {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.6s, visibility 0.4s;
}
.sub-menu {
  position: absolute;
  background: #006c2e;
  margin-top: 16px;
  width: 220px;
  left: -16px;
}
.sub-menu li:hover {
  background-color: #019c41;
  transition: background-color 0.6s;
}
.sub-menu a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 10px 16px;
  width: 100%;
  border: 1px solid #ccc;
}
.button-action .btn-link {
  text-decoration: none;
  margin-left: 12px;
  border-radius: 12px;
  background-color: #006c2e;
  padding: 14px;
  color: #fdfdfd;
  position: relative;
}
.button-action .btn-link span {
  z-index: 2;
  position: relative;
}
.button-action .btn-link::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  background-color: #013a1a;
  transition: width 0.6s ease-in-out;
  border-radius: 12px;
}
.button-action .btn-link:hover::after {
  left: 0;
  width: 100%;
}
.menu li:first-child:hover a {
  opacity: 0.9;
}
/* Form */
.home::before {
  content: "";
  height: 100vh;
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  z-index: 100;
  pointer-events: none;
  transition: all 0.5s ease-out;
}
.login_form {
  z-index: 110;
}
.home.show::before {
  opacity: 1;
  pointer-events: auto;
}
.form_container {
  position: fixed;
  max-width: 320px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 101;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease-out;
}
.home.show .form_container {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
.signup_form {
  display: none;
}
.form_container.active .signup_form {
  display: block;
}
.form_container.active {
  background: #fff;
}
.form_container.active .login_form {
  display: none;
}
.form_close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #0b0217;
  font-size: 2.2rem;
  opacity: 0.7;
  cursor: pointer;
}
.form_container h2 {
  font-size: 2.2rem;
  text-align: center;
  color: black;
  font-weight: 500;
}
.input_box {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: 40px;
  z-index: 10;
}
.input_box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  color: #333;
  transition: all 0.2 ease;
  padding: 0 30px;
  border-bottom: 1.5px solid #aaaaaa;
}
.input_box input:focus {
  border-color: #006c2e;
}
.input_box i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
}
.input_box i.email,
.input_box i.password {
  left: 0;
  color: #707070;
}
.input_box input:focus ~ i.email,
.input_box input:focus ~ i.password {
  color: #006c2e;
}
.input_box i.pw_hide {
  right: 0;
  font-size: 1.8rem;
  cursor: pointer;
}
.option_field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 14px;
}
.form_container a {
  color: #006c2e;
  font-size: 1.2rem;
  text-decoration: none;
}
.form_container a:hover {
  text-decoration: underline;
}
.checkbox {
  display: flex;
  white-space: nowrap;
  font-size: 1.2rem;
  column-gap: 8px;
}
.checkbox label {
  font-size: 1.2rem;
  user-select: none;
  cursor: pointer;
}
.form_container .button {
  background: #006c2e;
  margin-top: 30px;
  width: 100%;
  padding: 12px 0;
  border-radius: 10px;
  color: #fff;
  font-weight: 400;
}
.login_signup {
  font-size: 12px;
  text-align: center;
  margin-top: 15px;
}
.form {
  background: #fff;
}
/* slideshow */
.slideshow-container {
  max-width: 100%;
  position: relative;
  z-index: -1;
  margin-top: 2px;
}
.mySlides {
  display: none;
}
.mySlides img {
  height: 550px;
  width: 100%;
}
.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 4s;
  animation-name: fade;
  animation-duration: 4s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
/* Dvu */
.dv {
  max-width: 1040px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 250px;
  margin-top: 55px;
}
.dv h2 {
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: -1px;
  position: relative;
  z-index: -1;
}
.dv h2::after {
  position: absolute;
  content: "";
  width: 32px;
  background-color: #006c2e;
  border-radius: 999px;
  height: 4px;
  left: 0;
  top: 30px;
}
.dv .btn-dv a {
  background: #006c2e;
  padding: 8px 28px;
  border: 2px solid #00742c;
  border-radius: 3px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 0.5 ease-in-out;
  text-decoration: none;
}
.dv .btn-dv:hover,
.dv .btn-dv:hover a {
  translate: 0 -1px;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
  background: #019c41;
}
